## Gitignore for VM2018 ##

#	Ignore folders:
VM2018/Gjett/
VM2018/Obsolete/
VM2018/rsconnect/
VM2018/.Rproj.user/

#Ignore files
VM2018/.Rhistory
VM2018/extract_info.R
VM2018/find_correlations
VM2018/Resultater.R


#Ignore file types
*.Rproj

